#note {
    margin-top: 15px;
}

#label {
    margin-right: 10px;
}

.badgeTotalMensajes {
    margin-right: 20px;
}

.noLeido {
    font-weight: bold;
}

ion-avatar {
    max-width: 40px;
    max-height: 40px;
    margin-right: 10px;
}

#botonMenu {
    margin-left: 20px;
}